@using CRM_Duo_Creative.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<div class="container text-center mt-5">
    @{
        var teraz = DateTime.Now;
        var user = await UserManager.GetUserAsync(User);

    }
    <div class="container text-center mt-5">
        <h1>Aktualności CRM</h1>
        <p>Witaj, @user.FirstName</p>
        <p>Dzisiaj jest: @teraz.ToString("dd MMMM yyyy, HH:mm")</p>
    </div>
</div>
<div class="card mt-4 mx-auto" style="max-width: 400px;">
    <div class="card-body">
        <h5 class="card-title">Zarządzanie kontem</h5>
        <p class="card-text">Możesz tutaj zresetować swoje hasło.</p>
        <a asp-area="Identity"
           asp-page="/Account/ResetPassword"
           asp-route-email="@user.Email"
           class="btn btn-warning">Zresetuj hasło</a>
    </div>
</div>

